h3 {
    padding-top: 30px;
    text-align: center;
     
      font-family: 'Roboto', sans-serif; 
      font-size: 25pt;         
      font-style: normal; 
      font-weight: bold; 
      color:rgb(11, 4, 58);
      text-align: center; 
      text-decoration: underline
    }
  h2 {
    text-align: center;
    color:rgb(85, 22, 8);
    font-family: 'Roboto Mono'; 

  }
.container-fluid {
  border-style:hidden;
  padding-left: 10%;
  padding-right: 10%;
  padding-bottom: 30px;
}  
.input1 {
  font-weight: bold
}
 .input1 input0 {
  text-align: center;
}
.input2{
  font-weight: bold
}
.input3 {
 
  font-weight: bold
    
}
.bg-info {
  background-color: #1b363a;
  
}
.in {
  font-weight: bold;
  
}
.btn-secondary {
  background-color: #df6045 ;
  font-weight: bold;
}

